
body {
    display: flex;  /* Включаем flexbox для body */
    justify-content: center;  /* Центрируем по горизонтали */
    align-items: center;  /* Центрируем по вертикали */
    height: 100vh;  /* Высота страницы на весь экран */
    margin: 0;  /* Убираем стандартные отступы */
}

.container{
    position: relative; 
}

.secone {
    flex-grow: 1;
    width: 100%;
    margin: 0 auto;
    padding-top: 235px; 
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.secone-one {
    flex-grow: 1;
    text-align: center;
}

/* Первая строка */
.line-container-first {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    padding-top: 10px; /* Добавляем отступ сверху */
    padding-bottom: 10px; /* Добавляем отступ снизу */
    z-index: 1;
}

.line-container-first h1 {
    margin-right: 100px; /* Отступ между текстом и линией */
}

.line-container-first .dashed-line {
    position: absolute;
    left: 925px; /* Линия будет выдвигаться на 50px за пределы контейнера слева */
    width: 50%; /* Ширина линии 100% от ширины окна */
    border-bottom: 10px dashed #ffffff;
    margin: 0;
    padding-top: 10px; /* Добавляем отступ сверху */
}

/* Вторая строка */
.line-container-second {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    z-index: 1;
}

.line-container-second .dashed-line {
    margin-left: 100px; /* Добавляем отступ между текстом и линией */
}

/* Пунктирная линия для второй строки */
.line-container-second .dashed-line {
    position: absolute;
    right: 475px; /* Позиционируем линию слева */
    width: 100%; /* Ширина линии 100% от ширины окна */
    border-bottom: 10px dashed #ffffff;
    margin: 0;
    padding-top: 10px; /* Добавляем отступ сверху */
}


.header h1 {
    font-size: 6.25rem;
    margin-right: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff;
}

.header h2 {
    font-size: 6.25rem;
    margin-left: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ffffff; /* Цвет "Это" — белый */
}

/* Стили для слов в тексте */
.header .line-container-first h1::after {
    content: "природы"; /* Слово природа */
    color: #0A7075; /* Цвет для "Природы" */
    margin-left: 20px; /* Добавим небольшой отступ */
}

.header .line-container-second h2::after {
    content: "ты!"; /* Слово ты */
    color: #0A7075; /* Цвет для "Ты" */   
    margin-left: 20px; /* Добавим небольшой отступ */
}

.button-group {
    display: flex;
    gap: 20px; /* Расстояние между кнопками */
    margin-top: 20px; /* Отступ сверху для всей группы кнопок */
}

/* Стили для кнопки "Очистить природу" */
.btn-title {
    background-color: #0C969C;
    color: #ffffff;
    border-radius: 32.5px;
    border-color: #0C969C;
    width: 250px;
    height: 55px;
    font-size: 18px;
    margin-top: 250px;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
}

/* Убираем синий фон при наведении */
.btn-title:hover {
    background-color: #0A7075; /* Цвет при наведении */
    color: #ffffff; /* Цвет текста при наведении */
    border-color: #0A7075; /* Цвет границы при наведении */
}

/* Стили для эллипса в центре страницы */
.ellipse {
    width: 800px;  /* Ширина эллипса */
    height: 800px; /* Высота эллипса */
    background-color: #83C6C9; /* Цвет эллипса */
    border-radius: 50%; /* Элиптическая форма */
    filter: blur(90px); /* Эффект размытия */ 
    position: absolute;
    top: 400px; /* Позиционируем по центру по вертикали */
    left: 50%; /* Позиционируем по центру по горизонтали */
    transform: translate(-50%, -50%); /* Сдвигаем на 50% от своей ширины и высоты */
    z-index: 0; /* Помещаем эллипс позади других элементов */
}



.aktall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.akt1 {
    width: 600px;
    background-color: #38D39F;
    border-radius: 62px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: #fff;
}

.akt1 h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    
}

.akt1 p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5; 
}

.akt1 img {
    margin-top: 10px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.akt2 {
    width: 375px;
    background-color: #38D39F;
    border-radius: 62px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: #fff;
}

.akt2 h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    
}

.akt2 p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5; 
}

.akt2 img {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}

.akt3 {
    width: 375px;
    background-color: #38D39F;
    border-radius: 62px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: #fff;
}

.akt3 h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    
}

.akt3 p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5; 
}

.akt3 img {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}

.akt4 {
    width: 600px;
    background-color: #38D39F;
    border-radius: 62px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    color: #fff;
}

.akt4 h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    
}

.akt4 p {
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5; 
}

.akt4 img {
    margin-top: 10px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.akt2, .akt2, .akt3, .akt4 {
    margin: 10px;
}


/*Инструкция*/

.inform {
    display: flex; /* Make the container a flexbox */
    flex-direction: column; /* Arrange elements vertically */
    align-items: center; /* Center elements horizontally */
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 30px;
}

.infblock {
    width: 80%; /* Adjust width as needed */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    display: flex; /* Make the content a flexbox */
    flex-direction: row; /* Arrange elements horizontally */
    justify-content: space-between; /* Distribute elements evenly */
    align-items: center; /* Center elements vertically */
}


.inf1-one, .inf2-one, .inf3-one, .inf4-one {
    width: 50px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    background-color: #38D39F; /* Green background color */
    border-radius: 50%; /* Circular shape */
    display: flex; /* Center content within the circle */
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold; /* Bold text */
    color: white; /* White text */
}

.inf1, .inf2, .inf3, .inf4 {
    display: flex; /* Make each step a flexbox */
    flex-direction: column; /* Arrange content vertically */
    align-items: flex-start; /* Align content to the left */
    width: 25%; /* Set equal width for each step */
    margin: 5px;
}

.inf1 p, .inf2 p, .inf3 p, .inf4 p {
    margin-top: 10px; /* Add margin above the text */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Add some line spacing */
    color: #666; /* Gray text color */
}

/* -----------------О проекте----------------------------------- */
.project-container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}
  
.project-header h1 {
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}
  
.project-goal {
    background-color: #0A7075;
    color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 50px;
    /* Rectangle 28 */
    left: 241px;
    top: 252px;
    border-radius: 30px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-clip: padding-box;
}

  
.project-goal h2 {
    margin-bottom: 40px;
    font-size: 1.5em;
}
  
.project-goal p {
    margin: 0;
    font-size: 1.2em;
}
  
.project-functionality {
    background-color: #13AAB1;
    color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 50px;
}
  
.project-functionality h2 {
    font-size: 1.5em;
    color: #ffffff;
    margin-bottom: 40px;
}
  
.buttons-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
  
.function-button {
    flex: 20%;
    background-color: #0A7075;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.function-button img {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Отступ между изображением и текстом */
}

.function-button:hover {
    transform: scale(1.05);
}

/* --------------Актуальность----------------------------------- */
.actuality-container{
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.actuality-header h1{
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.actual-sliders{

}

.actual-sliders-item{
    /* Frame 18 */
    position: fixed;
    width: 424px;
    height: 636px;

    border-radius: 15px;
    box-shadow: 6px 1px 13px 0px rgba(0, 0, 0, 0.25);
    background: rgb(44, 161, 165);
}

/* --------------Этапы----------------------------------- */

.stages-container{
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}

.stages-header h1{
    text-align: right;
    color: #ffffff;
    background-color: #087174;
    padding: 10px 20px;
    border-radius: 0px 30px 30px 0;
    margin-top: 50px;
    margin-right: 70px;
    margin-left: -550px;
    width: 920px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.stage_1{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    background: rgb(12, 150, 156);
    width: 825px;
    left: 346px;
}

.stage_1_text{
    margin: 20px;
    margin-right: 20px;
    width: 324px;
    text-align: center;
}

.stage_1_text h2{
    font-size: 242px;
    font-weight: bold;
    color: #ffffff;
    background-color: #087174;
    border-radius: 36px;
}

.stage_1_items{

}